* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  background-color: rgb(210, 228, 228);
}

.container {
  background-color: aliceblue;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  gap: 20px;
  border-radius: 35px;
  padding: 30px;
}

.title--qoran {
  font-size: 24px;
}

span {
  font-weight: normal;
  color: gray;
}

.title--style {
  text-align: center;
  color: rgb(0, 255, 102);
}

.form--style {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input--style {
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
}

.buttons {
  display: flex;
  margin: 10px auto;
  gap: 20px;
}

.button--style {
  width: 70px;
  height: 30px;
  color: white;
  background-color: rgb(27, 154, 27);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.link--style {
  color: black;
}
