* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  background-color: rgb(210, 228, 228);
}

.container {
  background-color: white;
  width: 80%;
  height: 700px;
  border-radius: 20px;
  margin: 100px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.qoran-logo {
  width: 50px;
}

.title--qoran {
  font-size: 24px;
}

span {
  font-weight: normal;
  color: gray;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 35px;
}

.search--header {
  height: 20px;
  width: 270px;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 12px 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% center;
  letter-spacing: 1.5px;
}

.main {
  height: 610px;
  display: flex;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.top--icons,
.bot--icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top--icons {
  margin-left: 35px;
}

.bot--icons {
  margin-left: 15px;
}

.icon--style {
  width: 30px;
}

.main--article {
  margin-left: 35px;
  width: 80%;
  background-color: rgb(225, 238, 238);
  border-radius: 30px 30px 0 0;
}

.user--space {
  width: 360px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

p {
  font-size: 24px;
}

.long-user-name {
  font-weight: normal;
}

.line {
  width: 83%;
  height: 1px;
  background-color: #c4c4c4;
  margin-left: 25px;
  display: inline-block;
}

.user--img {
  margin-bottom: 20px;
}

.last--readAndListened {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.title-last--readAndListened {
  color: rgb(0, 255, 102);
  margin-bottom: 20px;
}

.soura-last--readAndListened {
  font-size: 20px;
  margin-bottom: 30px;
}

.img-last--read {
  margin-top: 10px;
}
